@import '../../src/scss/components/vars';

.list_columns_block {
  background: linear-gradient(to bottom, $this_blue, $blue2);
  padding: 123px 0 145px;

  @media (max-width: $md) {
    padding: 100px 0;
  }
  @media (max-width: $sm) {
    padding: 80px 0;
  }
  @media (max-width: $xs) {
    padding: 60px 0;
  }

  /*settings*/
  &.heading_black {
    .section-holder h2 {
      color: $grey2;
    }
  }

  &.heading_white {
    .section-holder h2 {
      color: $white;
    }
  }

  &.heading_blue {
    .section-holder h2 {
      color: $normal_blue;
    }
  }

  &.text_black {
    .content, .list {
      color: $grey2;
    }
  }

  &.text_white {
    .content, .list {
      color: $white;
    }
  }

  &.text_blue {
    .content, .list {
      color: $normal_blue;
    }
  }

  &[class*='bg-'], &[data-parallax="scroll"], &.video {
    background: none;
    background-color: rgba(0, 0, 0, 0);
  }

  &.bg-primary-blue {
    background-color: $normal_blue;
  }

  &.bg-secondary-orange {
    background-color: $orange;
  }

  &.bg-green {
    background-color: $green;
  }

  &.bg-purple {
    background-color: $purple;
  }

  &.bg-yellow {
    background-color: $yellow;
  }

  &.bg-gray {
    background-color: $grey2;
  }

  &.bg-black {
    background-color: $black;
  }

  &.bg-white {
    background-color: $white;
  }
  /*settings*/

  h2 {
    text-align: center;
    font-family: $montserrat;
    font-weight: 400;
    max-width: 761px;
    margin: 0 auto 6px;
  }

  .content {
    font-size: 20px;
    line-height: 30px;
    font-family: $lato;
    font-weight: 400;
    max-width: 761px;
    margin: 0 auto 60px;
    text-align: center;

    @media (max-width: $sm) {
      font-size: 18px;
      line-height: 28px;
      margin: 0 auto 40px;
    }
    @media (max-width: $xs) {
      font-size: 16px;
      line-height: 26px;
      margin: 0 auto 30px;
    }

    p {
      margin: 0;
    }
  }

  .list {
    font-size: 20px;
    line-height: 30px;
    font-family: $lato;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    max-width: 890px;
    margin: 0 auto;

    @media (max-width: $sm) {
      font-size: 18px;
      line-height: 28px;
      text-align: center;
    }
    @media (max-width: $xs) {
      font-size: 16px;
      line-height: 26px;
    }

    &.col-2 {
      & > div {
        width: 50%;
        @media (max-width: $sm) {
          width: 100%;
        }
      }
    }

    &.col-3 {
      & > div {
        width: 33.33%;
        @media (max-width: $md) {
          width: 50%;
        }
        @media (max-width: $sm) {
          width: 100%;
        }
      }

      &.col-4 {
        & > div {
          width: 25%;
          @media (max-width: $lg) {
            width: 33.33%;
          }
          @media (max-width: $md) {
            width: 50%;
          }
          @media (max-width: $sm) {
            width: 100%;
          }
        }
      }
    }

    & > div {
      padding-left: 50px;

      @media (max-width: $md) {
        padding-left: 20px;
      }

      @media (max-width: $sm) {
        padding-left: 0;
      }

      p {
        margin: 0 0 10px;
      }

      ul {
        padding-left: 20px;

        li {
          margin-bottom: 10px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}