@import '../../src/scss/components/vars';

.current_openings_block {
  padding: 99px 0 80px;
  background-image: url("../../../img/why-page-bg.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $md) {
    padding: 80px 0;
  }
  @media (max-width: $sm) {
    padding: 60px 0;
  }
  @media (max-width: $xs) {
    padding: 40px 0;
  }

  /*settings*/
  &.heading_black {
    h2 {
      color: $pantone-cool-gray;
    }
  }
  &.heading_white {
    h2 {
      color: $white;
    }
  }
  &.heading_blue {
    h2 {
      color: $this_blue;
    }
  }

  &.text_black {
    .positions .position .c {
      color: $this_grey;
    }
  }
  &.text_white {
    .positions .position .c {
      color: $white;
    }
  }
  &.text_blue {
    .positions .position .c {
      color: $this_blue;
    }
  }

  &[class*='bg-'], &[data-parallax="scroll"], &.video {
    background: none;
    background-color: rgba(0,0,0,0);
  }

  &.bg-primary-blue {
    background-color: $normal_blue;
  }
  &.bg-secondary-orange {
    background-color: $orange;
  }
  &.bg-green {
    background-color: $green;
  }
  &.bg-purple {
    background-color: $purple;
  }
  &.bg-yellow {
    background-color: $yellow;
  }
  &.bg-gray {
    background-color: $grey2;
  }
  &.bg-black {
    background-color: $black;
  }
  &.bg-white {
    background-color: $white;
  }
  /*settings*/

  .section-holder {
    max-width: 1096px;
    margin: 0 auto;
  }

  h2 {
    font-family: $montserrat;
    font-weight: 400;
    color: $grey2;
    margin: 0 0 56px 0;
    border-bottom: 1px solid $pantone-cool-gray;
    padding-bottom: 24px;

    @media (max-width: $md) {
      margin: 0 0 40px 0;
    }
    @media (max-width: $xs) {
      margin: 0 0 30px 0;
    }
  }

  .positions {
    .position {
      padding: 45px 0 70px 8px;
      border-bottom: 1px solid $pantone-cool-gray;

      @media (max-width: $sm) {
        padding: 45px 0 45px 8px;
      }
      @media (max-width: $xs) {
        padding: 30px 0 30px 8px;
      }

      &:first-of-type {
        padding-top: 0;
      }

      .p {
        font-size: 28px;
        line-height: 38px;
        font-family: $montserrat;
        font-weight: 700;
        color: $this_blue;
        position: relative;
        padding-left: 76px;
        cursor: pointer;
        padding-top: 5px;

        @media (max-width: $sm) {
          font-size: 26px;
          line-height: 36px;
          padding-top: 0;
          padding-left: 50px;
        }

        @media (max-width: $xs) {
          font-size: 22px;
          line-height: 32px;
        }

        span {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 43px;
          height: 43px;
          border-radius: 50%;
          border: 2px solid $this_blue;
          transition: border-color $delay;

          @media (max-width: $sm) {
            width: 35px;
            height: 35px;
          }

          &::before {
            content: '';
            position: absolute;
            top: 19px;
            left: 10px;
            height: 2px;
            width: 20px;
            background: $this_blue;
            transition: background $delay;

            @media (max-width: $sm) {
              width: 18px;
              top: 14px;
              left: 6px;
            }
          }

          &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 20px;
            background: red;
            left: 19px;
            top: 10px;
            background: $this_blue;
            transition: transform 0.1s, background $delay;

            @media (max-width: $sm) {
              height: 18px;
              left: 14px;
              top: 6px;
            }
          }
        }

        &.opened {
          span::after {
            transform: rotate(-90deg);
          }
        }
      }

      .c {
        display: none;
        font-family: $lato;
        font-weight: 400;
        color: $this_grey;
        padding: 20px 0 0 77px;
        font-size: 20px;
        line-height: 30px;

        @media (max-width: $sm) {
          font-size: 18px;
          line-height: 28px;
          padding: 20px 0 0 50px;
        }
        @media (max-width: $xs) {
          font-size: 16px;
          line-height: 26px;
          padding-left: 10px;
        }

        *:first-child {
          margin-top: 0;
        }

        *:last-child {
          margin-bottom: 0;
        }

        h1, h2, h3, h4, h5, h6 {
          color: $this_blue;
          margin: 40px 0 10px 0;

          @media (max-width: $xs) {
            margin: 30px 0 10px 0;
          }
        }

        ul, ol {
          margin: 0 0 40px 0;
          padding: 0 0 0 37px;

          @media (max-width: $sm) {
            padding: 0 0 0 25px;
          }

          li {
            list-style-type: none;
            margin-bottom: 10px;
            position: relative;

            &:last-of-type {
              margin-bottom: 0;
            }

            &::before {
              content: '';
              position: absolute;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background-color: $this_grey;
              top: 0;
              bottom: 0;
              margin: auto;
              left: -35px;

              @media (max-width: $sm) {
                left: -25px;
              }
            }
          }
        }

        a:not(.secondary-btn) {
          color: $normal_blue;

          &:hover {
            color: $this_blue;
          }
        }

        .secondary-btn {
          display: inline-block;
          margin-top: 48px;
          margin-left: 4px;
          min-width: 158px;
          text-align: center;

          @media (max-width: $sm) {
            margin-top: 40px;
          }
          @media (max-width: $xs) {
            margin-top: 30px;
          }
        }
      }
    }
  }
}