@import '../../src/scss/components/vars';

.single .hero_banner_common_block {
  padding: 102px 0 96px;

  @media (max-width: $md) {
    padding: 80px 0;
  }
  @media (max-width: $sm) {
    padding: 60px 0;
  }
  @media (max-width: $xs) {
    padding: 40px 0;
  }
}

.page-careers .hero_banner_common_block {
  padding: 105px 0 126px;

  @media (max-width: $lg) {
    padding: 100px 0;
  }
  @media (max-width: $md) {
    padding: 80px 0;
  }
  @media (max-width: $sm) {
    padding: 60px 0;
  }
  @media (max-width: $xs) {
    padding: 40px 0;
  }

  .content-col {
    .breadcrumbs {
      margin-bottom: 2px;
    }
  }
}

.page-customer-stories .hero_banner_common_block {
  padding: 103px 0 148px;

  @media (max-width: $lg) {
    padding: 100px 0;
  }
  @media (max-width: $md) {
    padding: 80px 0;
  }
  @media (max-width: $sm) {
    padding: 60px 0;
  }
  @media (max-width: $xs) {
    padding: 40px 0;
  }

  .content-col {
    .breadcrumbs {
      margin-bottom: 2px;
    }
  }
}

.hero_banner_common_block {
  background-position: 100% 100%;
  padding: 60px 0 96px;

  @media (max-width: $md) {
    padding: 60px 0 80px 0;
  }
  @media (max-width: $sm) {
    padding: 60px 0;
  }
  @media (max-width: $xs) {
    padding: 40px 0;
  }

  &.image-frame {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../../../img/decor.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 150% 0;
      width: 40%;
      height: 100%;
    }
  }

  /*settings*/
  &.heading_black {
    .section-holder h1 {
      color: $this_grey;
    }
  }
  &.heading_white {
    .section-holder h1 {
      color: $white;
    }
  }
  &.heading_blue {
    .section-holder h1 {
      color: $this_blue;
    }
  }

  &.text_black {
    .content-col {
      color: $this_grey;
    }
  }
  &.text_white {
    .content-col {
      color: $white;
    }
  }
  &.text_blue {
    .content-col {
      color: $this_blue;
    }
  }
  /*settings*/

  .section-holder {
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .content-col {
    color: $white;
    max-width: 747px;

    .breadcrumbs {
      font-size: 20px;
      line-height: 34px;
      font-weight: 700;
      margin-bottom: 18px;

      @media (max-width: $sm) {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 10px;
      }

      @media (max-width: $xs) {
        font-size: 16px;
        line-height: 30px;
      }
    }

    h1 {
      font-weight: 300;
      margin: 0 0 4px 0;
      font-family: $montserrat;
      font-size: 48px;
      line-height: 58px;

      @media (max-width: $md) {
        font-size: 45px;
        line-height: 55px;
      }

      @media (max-width: $sm) {
        font-size: 40px;
        line-height: 50px;
      }

      @media (max-width: $xs) {
        font-size: 36px;
        line-height: 46px;
      }
    }

    .content {
      font-size: 20px;
      line-height: 30px;
      font-family: $lato;
      font-weight: 400;

      @media (max-width: $sm) {
        font-size: 18px;
        line-height: 28px;
      }
      @media (max-width: $xs) {
        font-size: 16px;
        line-height: 26px;
      }

      p {
        margin: 0 0 12px 0;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  .image-col {
    padding: 12px 0 0 35px;

    @media (max-width: $md) {
      padding: 0;
      margin-top: 40px;
      max-width: 400px;
    }

    img {
      max-width: 334px;
    }
  }
}