@import '../../src/scss/components/vars';

.media_content_rows_block {
  padding: 20px 0 150px 0;

  @media (max-width: $md) {
    padding: 20px 0 100px 0;
  }
  @media (max-width: $sm) {
    padding: 40px 0 80px 0;
  }
  @media (max-width: $xs) {
    padding: 40px 0 60px 0;
  }

  /*settings*/
  &.heading_black {
    .blocks .block .content-col h2 {
      color: $grey2;
    }
  }
  &.heading_white {
    .blocks .block .content-col h2 {
      color: $white;
    }
  }
  &.heading_blue {
    .blocks .block .content-col h2 {
      color: $this_blue;
    }
  }

  &.text_black {
    .blocks .block .content-col .content {
      color: $grey2;
    }
  }
  &.text_white {
    .blocks .block .content-col .content {
      color: $white;
    }
  }
  &.text_blue {
    .blocks .block .content-col .content {
      color: $this_blue;
    }
  }

  .blocks {
    max-width: 1063px;
    margin: 0 auto;

    &.left .block {
      flex-direction: row-reverse;

      .image-col {
        @media (max-width: $lg) {
          margin-left: 10px;
        }
      }

      @media (max-width: $sm) {
        flex-direction: column-reverse;

        .image-col {
          margin: 0 0 30px 10px;
        }
      }

      &:nth-child(even) {
        flex-direction: row;

        @media (max-width: $sm) {
          flex-direction: column;
        }

        .content-col {
          padding: 50px 0 0 0;
          margin-right: 30px;
          margin-left: 0;
          max-width: 600px;

          @media (max-width: $sm) {
            padding: 0;
            margin: 0;
            max-width: 100%;
          }
        }

        .image-col {
          padding-left: 0;
          padding-right: 23px;

          @media (max-width: $sm) {
            padding: 0;
            margin: 30px 0 0 10px;
          }
        }
      }
    }

    .block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;

      @media (max-width: $sm) {
        flex-direction: column;
        margin-bottom: 40px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        @media (max-width: $sm) {
          flex-direction: column-reverse;
        }

        .image-col {
          padding-right: 0;
          padding-left: 45px;

          @media (max-width: $lg) {
            padding-left: 10px;
            margin-left: 10px;
          }

          @media (max-width: $sm) {
            padding: 0;
            margin: 0 0 30px 10px;
          }
        }

        .content-col {
          max-width: 625px;
          padding-right: 20px;
          margin-right: 0;
          margin-left: 30px;

          @media (max-width: $sm) {
            padding: 0;
            margin: 0;
            max-width: 100%;
          }
        }
      }

      .content-col {
        max-width: 600px;
        padding-top: 50px;
        margin-right: 30px;
        margin-left: 0;

        @media (max-width: $sm) {
          padding: 0;
          margin: 0;
          max-width: 100%;
        }

        h2 {
          font-family: $montserrat;
          font-weight: 400;
          color: $this_blue;
          margin: 0;
        }

        .content {
          color: $this_grey;
          font-family: $lato;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          margin-top: 15px;

          @media (max-width: $sm) {
            font-size: 18px;
            line-height: 28px;
          }
          @media (max-width: $xs) {
            font-size: 16px;
            line-height: 26px;
          }

          p {
            margin: 0;
          }
        }
      }

      .image-col {
        width: 100%;
        max-width: 370px;
        padding-right: 23px;
        position: relative;

        @media (max-width: $sm) {
          padding: 0;
          margin: 30px 0 0 10px;
        }

        img {
          max-width: 334px;
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        }

        &::before {
          content: '';
          position: absolute;
          top: -20px;
          left: -35px;
          width: 197px;
          height: 225px;
          z-index: 1;
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

          @media (max-width: $lg) {
            left: -15px;
          }
          @media (max-width: $sm) {
            top: -15px;
          }
        }
      }

      &:nth-child(4n+1) .image-col::before {
        background-color: rgba(186,204,232,0.4);
      }
      &:nth-child(4n+2) .image-col::before {
        background-color: rgba(186,148,194,0.4);
      }
      &:nth-child(4n+3) .image-col::before {
        background-color: rgba(255,204,89,0.4);
      }
      &:nth-child(4n+4) .image-col::before {
        background-color: rgba(245,158,130,0.4);
      }
    }
  }
}